body,html{
	margin: 0;
	padding: 0;
	font-family: "Arial", sans-serif;
	text-align: center;
	display: flex;
	justify-content: center;
	cursor: default;
}
table {
	width: 945px;
}
.leftAlign {
	text-align: left;
}

#d3TableContainer{
	color: #808080;
}

#tableContainer{
	min-width: 400px;
	max-width: 1000px;
	color: rgb(99,113,119);
}

#headerRow{
	background-color: rgb(17,73,131);
	color: white;
}

#headerRow th{
	font-weight: 400;
	text-align: center
}

#chart, #tableSVG{
	border: 1px solid #CCC;
	float: right;
	background-color: white;
	font-size: 12px;
}

.bar {
	fill: rgb(238,123,59);
}

#blank0{
	display: none;
}

.softBlue{
	background-color: rgb(219,244,245);
}

.bookEnd{
	font-weight: 600;
	background-color: rgb(180,233,230);
}


.table>tbody>tr>td, .table>thead>tr>th {
	border-top: none;
	border-bottom: none;
}

.activeRow{
	background-color: rgb(237,249,250);
}

.subsectionBar {
	float: left;
	clear: left;
	color: rgb(255,96,0);
	font-weight: 500;
	font-size: 15px;
  width: 49%;
  text-align: left;
}

.questionSet{
	background-color: white;
	color: black;
}

.question:hover {
	background-color: rgb(254,242,232);
}

.selectedQuestion {
	color: rgb(238,123,59);
	font-size: 15px;
}

#directions{
	font-size: 20px;
	stroke: #808080;
	fill: #808080;
}

.plusMinus{
	font-size: 20px;
}






